.dart_tool/
.packages
.pub/
build/
coverage/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
